name: CI

on:
  push:
    branches: ["main", "feature/*", "test/*"]
  pull_request:

jobs:
  rspec:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        ports: ["5432:5432"]
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: password
          POSTGRES_DB: ourtime_db_test
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 5s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4"

      - name: Install dependencies
        run: |
          cd src
          bundle install --jobs 4 --retry 3

      - name: Prepare DB
        env:
          RAILS_ENV: test
          DB_HOST: localhost
          DB_USER: postgres
          DB_PASSWORD: password
          DB_NAME: ourtime_db_test
          DB_PORT: 5432
        run: |
          cd src
          bundle exec rails db:create
          bundle exec rails db:migrate

      - name: Run RSpec
        env:
          RAILS_ENV: test
        run: |
          cd src
          bundle exec rspec
